[class*="col-"]{
    width: 100%;
}
body{
    background-color: rgb(209, 186, 186);
}
.col-all{
    text-align: center;
    line-height: 1.7em;
}
img{
    margin-top: -0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    box-sizing: border-box;
}
.input ul{
    list-style-type: none;
    margin-left: -2.2em;}
h1{
    color: rgb(3, 54, 31);
}
p{
    text-align: center;
    font-style: italic;
    margin-top: 0.1em;
}
.button {
    background-color: #58257b;
    color: white;
    border: none;
    border-radius: 1em;
    padding: 0.2em 0.4em 0.2em 0.4em;
    text-align: center;
    cursor: pointer;
    margin-top: 0.5em;
}
@media only screen and (min-width:768px) {
    li{
        display: inline;
    }
    img{
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media only screen and (min-width:992px) {
 img{
     padding-left: 20%;
     padding-right: 20%;
 }

}